# OPENAI_API_KEY=your_openai_api_key_here
# MODEL=gemini-3.6-flash
MIN_DELAY=3
MAX_DELAY=8
MAX_RETRIES=3
HEADLESS=true
# OPENAI_API_KEY=ollama
# MODEL=llama3.2
# OPENAI_API_KEY=gsk_paste_api_key_groq_kamu_di_sini
# MODEL=llama-3.3-70b-versatile